In [8]:
import pandas as pd

df = pd.read_csv("../files/output/solicitudes_de_credito.csv", sep=";")

df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica de,prado,3,10,13/07/2018,5000000,microempresarial
1,femenino,servicio,recreativo educativo,barrio caicedo,1,9,30/10/2017,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4,3/08/2017,7300000,microempresarial
3,masculino,comercio,variedades,cabecera san cristobal,3,60,20/11/2017,7000000,microempresarial
4,femenino,comercio,fabrica de,robledo,2,7,23/02/2017,5000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10201,femenino,servicio,tienda,13 de noviembre,1,8,10/11/2016,6890000,microempresarial
10202,masculino,agropecuaria,comidas rapidas,villatina,1,8,9/05/2018,7000000,microempresarial
10203,masculino,comercio,fabrica de arepas,villa hermosa,3,8,23/01/2017,7377000,microempresarial
10204,femenino,comercio,variedades,cabecera san cristobal,1,60,12/04/2018,7800000,microempresarial
10205,femenino,servicio,cafe e internet,manrique oriental,2,3,1/06/2017,7370000,microempresarial

In [9]:
df.barrio.value_counts()

barrio
robledo                   990
manrique central no. 1    483
san javier no.1           423
aranjuez                  383
belen                     376
                         ...
villa flora                 1
mirador del doce            1
suburbano barro             1
el estadio                  1
el llano                    1
Name: count, Length: 225, dtype: int64

In [10]:
original = pd.read_csv("../files/input/solicitudes_de_credito.csv", sep=";")

original.barrio.value_counts()

barrio
robledo                   1000
manrique central no. 1     475
san javier no.1            416
aranjuez                   382
belen                      381
                          ...
los angeles                  1
centro-admtivo               1
Villa Del Socorro            1
Bombona No. 1                1
fatima                       1
Name: count, Length: 430, dtype: int64

In [11]:
df[df["barrio"] == "ANTONIO NARI¿O"]

Empty DataFrame
Columns: [sexo, tipo_de_emprendimiento, idea_negocio, barrio, estrato, comuna_ciudadano, fecha_de_beneficio, monto_del_credito, línea_credito]
Index: []

In [12]:
import re


s = ["$ 7,377,000.00", "3000000"]

patron = r"[0-9]+"


for cadena in s:
    coincidencia = re.findall(patron, cadena)
    numero = "".join(coincidencia)
    
    print(numero)

737700000
3000000